@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <image src="https://media.giphy.com/media/ZVik7pBtu9dNS/giphy.gif"></image>
    <br />

    <span>Click at <b><a asp-controller="Contact" asp-action="Index">Contact</a></b> to manage contacts!</span>


</div>
