@model ContactModel

@{
    ViewData["Title"] = "Create contact";
}



<div class="text-center">

    <h1 class="display-4">Create contact</h1>
</div>
<form asp-controller="Contact" asp-action="CreateContact" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter name">
        @Html.ValidationMessageFor(name => name.Name)
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter email">
        @Html.ValidationMessageFor(email => email.Email)
    </div>


    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter phone number">
        @Html.ValidationMessageFor(phone => phone.PhoneNumber)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <a class="btn btn-secondary  btn-block" asp-controller="Contact" asp-action="Index"> Back</a>
</form>


