@model ContactModel
@{
    ViewData["Title"] = "Edit contact";
}

<div class="text-center">

    <h1 class="display-4">Edit contact</h1>
</div>
<form asp-controller="Contact" asp-action="EditContact" method="post">

    <input type="hidden" asp-for="Id">


    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter email">
    </div>


    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter phone number">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Save</button>
    <a class="btn btn-secondary  btn-block" asp-controller="Contact" asp-action="Index"> Back</a>
</form>


