@model UserModel
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="User" asp-action="Login" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Enter name">
        @Html.ValidationMessageFor(name => name.Name)
    </div>


    <div class="form-group">
        <label for="" password">Password</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter phone number">
        @Html.ValidationMessageFor(password => password.Password)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

